.box2{
    color:cornsilk;
    background-color: black;
    font-size: 2rem;
    font-style: italic;
    height: 3rem;
    width: 30rem;
}
.border{
    border-color:cyan;
    border-width: 1rem;
    border-style: dashed;
}
#box3{
    border: firebrick;
}
.box3{
    border: firebrick;
    border-width: 6px;
    border-style: solid;
}
body {
    background-color: beige;
}
.container {
    display: flex;
    width: 4rem;
    color: black;
  }